

body { 
    --bs-body-font-family: 'Noto Kufi Arabic', sans-serif !important;
}

.nav-link {
    color: #00A4AC;
}

.nav-link:hover {
    color: #015859;
  }


.process-btn{
    background-color: #00A4AC;
    color: #FFF;
    border: none;
}

.process-btn:hover{
    background-color: #015859;
    color: #FFF;
}


#footer-content{
    background-color: #015859;
}